<main class="">
        <section class="">
            <form class="box">
                <main class="">
                    <section class="mb-4">
                        <section class="">
                            <label class="form-label">Ambient Light</label>
                
                            <div class="d-flex">
                                <button class="btn btn-success mx-2 form-control" id="ambient-on">On</button>
                                <button class="btn btn-danger form-control" id="ambient-off">Off</button>
                            </div>  
                        </section>
                        
                        <section class="mt-3">
                            <label class="form-label">Grid Helper</label>
                
                            <div class="d-flex">
                                <button class="btn btn-success mx-2 form-control" id="grid-on">On</button>
                                <button class="btn btn-danger form-control" id="grid-off">Off</button>
                            </div> 
                        </section>
                    </section>
                    
                    <section class="d-flex justify-content-around ml-3">
                        <section class="m-0">
                            <form class="dropdown" >
                                <header class="btn btn-primary dropdown-toggle" id="object-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                    Add Object
                                </header>

                                <main class="container dropdown-menu" aria-labelledby="object-drop">
                                    <div class="dropdown-item1 px-2">
                                        <section class="row mb-4">
                                            <div class="col-12 mb-2">
                                                <label class="form-label">Name</label>
                                                <input id="obj-name" class="form-control" type="text" placeholder="[Material] [Shape] [Name]">
                                            </div>
                        
                                            <div class="col-6 d-flex flex-column align-items-center justify-content-center">
                                                <div>
                                                    <label class="form-label">Material</label>

                                                    <select class="form-select" id="material">
                                                        <option value="basic">Basic</option>
                                                        <option value="normal">Normal</option>
                                                        <option value="physical">Physical</option>
                                                        <option value="toon">Toon</option>
                                                    </select>
                                                </div>

                                                <div class="mt-2">
                                                    <label class="form-label">Shape</label>
                                                    
                                                    <select class="form-select" id="shape">
                                                        <option value="box">Box</option>
                                                        <option value="cone">Cone</option>
                                                        <option value="sphere">Sphere</option>
                                                        <option value="torus">Torus</option>
                                                        <option value="torus-knot">Torus Knot</option>
                                                    </select>
                                                </div>                                
                                            </div>
                                                        
                                            <div id="obj-color" class="col-6">
                                                <label class="form-label">Color</label>

                                                <input class="form-control" type="number" placeholder="Red" id="red" min="0" max="255" step="1">

                                                <input class="form-control" type="number" placeholder="Green" id="green" min="0" max="255" step="1">

                                                <input class="form-control" type="number" placeholder="Blue" id="blue" min="0" max="255" step="1">
                                            </div>
                                        </section>
                
                                        <section class="row">
                                            <div class="col-6">
                                                <div id="obj-pos" class="">
                                                    <label class="form-label">Postion</label>
                                                    
                                                    <input id="obj-pos-x" class="form-control" type="number" placeholder="X">
                                                    <input id="obj-pos-y" class="form-control" type="number" placeholder="Y">
                                                    <input id="obj-pos-z" class="form-control" type="number" placeholder="Z">
                                                </div>
                    
                                                <div id="obj-rot" class="field">
                                                    <label class="form-label">Rotation</label>
                                                    
                                                    <input id="obj-rot-x" class="form-control" type="number" placeholder="X">
                                                    <input id="obj-rot-y" class="form-control" type="number" placeholder="Y">
                                                    <input id="obj-rot-z" class="form-control" type="number" placeholder="Z">                                                
                                                </div>

                                                <section class="d-flex mt-2">
                                                    <button id="obj-add" class="btn btn-success form-control mx-1">Add Object</button>
                                                    <button id="obj-clear" class="btn btn-danger form-control mx-1">Clear</button>
                                                </section>
                                            </div>
                        
                                            <div id="obj-details" class="col-6">
                                                <label class="label">Details</label>
                        
                                                <input class="form-control" id="height" min="1" max="10" type="number" placeholder="Height">
                                                <input class="form-control" id="width" min="1" max="10" type="number" placeholder="Width">
                                                <input class="form-control" id="depth" min="1" max="10" type="number" placeholder="Depth">
                                                <input class="form-control" id="radius" min="1" max="10" type="number" placeholder="Radius">
                                                <input class="form-control" id="tube" min="1" max="10" type="number" placeholder="Tube">
                                                <input class="form-control" id="arc" min="1" max="10" type="number" placeholder="Arc">
                                                <input class="form-control" id="p" min="1" max="10" type="number" placeholder="Rotational Twists">
                                                <input class="form-control" id="q" min="1" max="10" type="number" placeholder="Center Twists">                                    
                                            </div>
                                        </section>                                       
                                    </div>                                    
                                </main>
                            </form>
                        </section>
        
                        <section class="m-0">
                            <main class="dropdown">
                                <header class="btn btn-primary dropdown-toggle" id="add-light" data-bs-toggle="dropdown" aria-expanded="false">
                                    Add Light
                                </header>
        
                                <main class="box dropdown-menu">
                                    <form class="dropdown-item1 px-2">
                                        <main class="">
                                            <section class="">
                                                <div class="">
                                                    <label class="form-label">Name</label>
                
                                                    <input id="light-name" class="form-control" type="text" placeholder="Light [Name]">
                                                </div>                                               
                                            </section>
                                        
                                            <section id="light-color" class="container p-0 mt-1">
                                                <label class="form-label">Color</label>

                                                <div class="row g-0">
                                                    <div class="col-12">
                                                        <input id="light-red" class="form-control" type="number" placeholder="R" id="red" min="0" max="255" step="1">
                                                    </div>

                                                    <div class="col-12">
                                                        <input id="light-green" class="form-control" type="number" placeholder="G" id="green" min="0" max="255" step="1">                
                                                    </div>

                                                    <div class="col-12">
                                                        <input id="light-blue" class="form-control" type="number" placeholder="B" id="blue" min="0" max="255" step="1">
                                                    </div>
                                                </div>
                                            </section>     
                                            
                                            <section class="container p-0 mt-1">
                                                <div class="row g-0">
                                                    <label class="form-label">Postion</label>
                                                    
                                                    <div class="col-12">
                                                        <input id="light-pos-x" class="form-control" type="number" placeholder="X">
                                                    </div>
                                                    <div class="col-12">
                                                        <input id="light-pos-y" class="form-control" type="number" placeholder="Y">
                                                    </div>
                                                    <div class="col-12">
                                                        <input id="light-pos-z" class="form-control" type="number" placeholder="Z">
                                                    </div>
                                                </div>
                                            </section>
                                            
                                            <section class="d-flex justify-content-around mt-1">
                                                <button id="light-add" class="btn btn-success">Add</button>
                                                
                                                <button id="light-clear" class="btn btn-danger">Clear</button>
                                            </section>
                                        </main>
                                    </form>
                                </main>
                            </main>
                        </section>
                        
                        <section class="">
                            <div class="dropdown">
                                <button class="btn btn-info dropdown-toggle" type="button" id="dropdown-inscene" data-bs-toggle="dropdown" aria-expanded="false">
                                    In-Scene
                                </button>
        
                                <div id="in-scene" class="dropdown-menu" aria-labelledby="dropdown-inscene">
                                    
                                </div>
                            </div>
                        </section>
                    </section>

                    <section class="mt-2">
                        <label class="form-label">Title</label>

                        <div class="d-flex">                            
                            <input class="form-control" type="text" id="title">

                            <button id="save" class="btn btn-success ml-2">Save</button>
                        </div>                        
                    </section>
                </main>
            </form>
        </section>

        <section class="d-flex align-items-center justify-content-center mt-4">
            <canvas id="edit" class=""></canvas>
        </section>

        <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
        </script>

        <script async src="https://unpkg.com/es-module-shims@1.3.6/dist/es-module-shims.js"></script>

        <script type="importmap">
        {
            "imports": {
                "three": "https://unpkg.com/three@0.142.0/build/three.module.js"
            }
        }
        </script>

        <script type="module" src="/javascript/three.js"></script>
</main>