<div class="container py-5">
    <div class="row">
      <div class="col-12 py-3 order-md-1 order-2 col-md-8">
        <!-- ALL posts are going to be fetched and displayed here -->
        {{#each forums as |forum|}}
        <div class="card py-2" id="1">
          <div class="card-body">
            <div class="row">
              <div class="col">

                    <div class="forum-body" id="1">
                      <div class="row">
                        <div class="col">
                          <h3 class="comment-title">{{forum.title}}</h3>
                          <a href="/forums/{{forum.id}}" class="text-center" data-comment-id="1"><span class="forum-comments-count">4</span> Comments</a>
                        </div>
                        <div class="col-auto">
                          <a href="/forums/{{forum.id}}"><button class="btn btn-primary">View More</button></a>
                        </div>
                      </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
        {{/each}}

        
      </div>
      <div class="col-12 py-3 order-md-2 order-1 col-md-4">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  Create New Forum
                </h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus voluptas, modi reprehenderit alias sed debitis mollitia, porro non iusto illo!</p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#post-forum">Create Post</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="modal fade" id="post-forum" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Discussion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form>
      <div class="modal-body">
          <div class="form-group">
            <label for="title" class="col-form-label">Title:</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Enter Title">
          </div>
          <div class="form-group">
            <label for="description" class="col-form-label">Description:</label>
            <textarea class="form-control" id="description" name="description" placeholder="Description"></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" id="post-forum" class="btn btn-primary">Post Forum</button>
      </div>
        </form>
    </div>
  </div>
</div>





</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js"
  integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js"
  integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<script>
  $('#post-comment').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var commentID = button.data('comment-id') // Extract info from data-* attributes
  var commentAuthor = button.data("comment-author"); // username of the root comment
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('Post comment to ' + commentAuthor + ' Discussion Post.')
  modal.find('.modal-body .comment-id').val(commentID);
})
</script>

<script src="/javascript/forum.js"></script>